// conf/modules.config

process {

    // Default: don't publish anything (override per-process below)
    publishDir = [ enabled: false ]

    // ── TRIMMING ──
    withName: 'FASTP' {
        ext.args = '--detect_adapter_for_pe --trim_poly_g'
    }

    // ── KRAKEN2 / BRACKEN ──
    withName: 'KRAKEN2_KRAKEN2' {
        ext.args = '--confidence 0.05 --use-names'
        publishDir = [
            path: { "${params.outdir}/kraken2/kraken2/${meta.id}" },
            mode: 'copy',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: 'BRACKEN_BRACKEN' {
        ext.args = '-r 50 -l S -t 1'
        publishDir = [
            path: { "${params.outdir}/kraken2/bracken/${meta.id}" },
            mode: 'copy',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: 'BRACKEN_ADD_UNCLASSIFIED' {
        publishDir = [
            path: { "${params.outdir}/kraken2/bracken/${meta.id}" },
            mode: 'copy',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: 'BRACKEN_COMBINEBRACKENOUTPUTS' {
        publishDir = [
            path: { "${params.outdir}/kraken2" },
            mode: 'copy',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    // ── MULTIQC ──
    withName: 'MULTIQC' {
        ext.args = "--title 'ASM-Lite QC'"
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: 'copy',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}
