// conf/modules_mapping.config — selectors for reference mapping + variant calling

process {

    // ── MAPPING TO REFERENCES ──
    withName: '.*MAPPING:BWA_INDEX_REF' {
        memory = { 4.GB * task.attempt }
    }
    withName: '.*MAPPING:BWA_MEM_REF' {
        ext.args = { "-M -R '@RG\\tID:${meta.id}\\tSM:${meta.id}\\tLB:${meta.id}\\tPL:ILLUMINA'" }
    }
    withName: '.*MAPPING:PICARD_MARKDUPLICATES' {
        ext.args   = '--ASSUME_SORTED true --VALIDATION_STRINGENCY SILENT --CREATE_INDEX true'
        ext.prefix = { "${meta.id}.dedup" }
        publishDir = [
            path: { "${params.outdir}/mapping/ref/${meta.ref_name}/${meta.id}" },
            mode: 'copy',
            pattern: '*.bam'
        ]
    }
    withName: '.*MAPPING:SAMTOOLS_INDEX_REF' {
        publishDir = [
            path: { "${params.outdir}/mapping/ref/${meta.ref_name}/${meta.id}" },
            mode: 'copy',
            pattern: '*.bai'
        ]
    }

    // ── VARIANT CALLING ──
    withName: 'BCFTOOLS_MPILEUP' {
        ext.args  = '-q 0 -Q 0 --max-depth 10000 -a AD,DP'
        ext.args2 = '-m --ploidy 1 -v'
        ext.args3 = ''
    }
    withName: 'BCFTOOLS_NORM' {
        ext.args   = '-m -both -c w'
        ext.prefix = { "${meta.id}.norm" }
    }
    withName: '.*CALL_VARIANTS:BCFTOOLS_VIEW' {
        ext.args = "-i 'QUAL>=20 && FMT/DP>=10' --output-type z"
        publishDir = [
            path: { "${params.outdir}/vcf/${meta.ref_name}/${meta.id}" },
            mode: 'copy',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: '.*CALL_VARIANTS:BCFTOOLS_INDEX' {
        publishDir = [
            path: { "${params.outdir}/vcf/${meta.ref_name}/${meta.id}" },
            mode: 'copy',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: '.*CALL_VARIANTS:BCFTOOLS_STATS' {
        publishDir = [
            path: { "${params.outdir}/vcf/${meta.ref_name}/${meta.id}" },
            mode: 'copy',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}
